.header {
    background-color: #49AEF2;
}

#logoutButton {
    color: white;
    background: #ff6666;
}

#loginButton {
    background: #66ccff;
}

#profileList ul {
    text-align: center;
}

#voiceNotesList ul {
    text-align: center;
}

.tapListen {
    width: 100%;
}